/* GENERAL */

p{
	font-family: 'Dosis', sans-serif;
}

h1{
	font-family: 'Quicksand', sans-serif;
}

/* HEADER */

nav ul li{
	display: inline;
	text-decoration: none;
	background-color: black;
	opacity: 0.9;
	font-size: 18px;
	display: center;
	border: 1px solid transparent;
	color: white;
}

.Top-nav{
	display: inline;
	text-decoration: none;
	background-color: black;
}

#mess img {
  width: 100%;
}

#mess .col-xs-2 {
  padding-right: 0;
  padding-left:0;
}

/* CTA newsletter */

.headroom {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    transition: all 0.2s ease-in-out 0s;
